<% if post.images.attached? %>
  <h6>Images:</h6>
  <div class="d-flex flex-wrap gap-2 mb-2">
    <% post.images.each do |image| %>
      <%= image_tag url_for(image), class: "img-thumbnail", width: 100 %>
    <% end %>
  </div>
<% end %>

<% if post.files.attached? %>
  <h6>Files:</h6>
  <ul class="list-unstyled">
    <% post.files.each do |file| %>
      <li><%= link_to file.filename.to_s, url_for(file), target: "_blank" %></li>
    <% end %>
  </ul>
<% end %>
